body {
  background-color: #262626;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.homepage {
  background-color: #333333;
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 32px;
  margin-bottom: 40px;
  text-align: center;
  color: #ffffff;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

input[type="text"] {
  width: 320px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #dddddd;
  margin-bottom: 20px;
  color: #333333;
}

.datetime-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.date-container label,
.time-container label {
  font-size: 14px;
  color: #cccccc;
}

.date-container input[type="date"],
.time-container input[type="time"] {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #dddddd;
  color: #333333;
}

.phone-container input[type="text"] {
  width: 320px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #dddddd;
  margin-bottom: 20px;
  color: #333333;
}

.add-button {
  padding: 12px 24px;
  background-color: #47bda1;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.add-button:hover {
  background-color: #369c85;
}

.reminder-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.reminder-card {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 18px;
  color: #ffffff;
}

.reminder-time {
  font-size: 14px;
  color: #cccccc;
  margin-bottom: 12px;
}

.delete-button {
  padding: 8px 16px;
  background-color: #ff4d4d;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #e63939;
}

/* Dark Theme */
body.dark-theme {
  background-color: #111;
  color: #fff;
}

.App.dark-theme .reminder-card {
  background-color: #333;
  color: #fff;
}

/* White Theme */
/* White Theme */
body.white-theme {
  background-color: #fff;
  color: #111;
}

.App.white-theme .reminder-card,
.App.white-theme .reminder-card h2,
.App.white-theme .reminder-card .reminder-time {
  color: #111;
}

.theme-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.theme-button {
  margin: 0 10px;
  padding: 5px 10px;
  font-size: 16px;
}
